body {
  background-color: #E8DDCB;
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
  font-weight: 700;
  color:#031634;
}

.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border-left: 10px solid #036564;
  border-top: 10px solid #036564;
  border-right: 10px solid #031634;
  border-bottom: 10px solid #031634;
  border-radius: 25px;
  background-color: #F4EAD5;
}

.user_logged_in {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  font-size: 12px;
}



table {
  font-size: 12px;
  line-height: 18px;
  vertical-align: top;
  padding: 10px;
}

table a:link {
  text-decoration: none; 
  color: #033649; 
  font-weight: 700;
}

table a:visited {
  text-decoration: none; 
  color: #CDB380; 
}

.user_logged_in a:link {
  text-decoration: none; 
  color: #033649; 
  font-weight: 700;
}

.user_logged_in a:visited {
  text-decoration: none; 
  color: #033649;   
}

.user_logged_in a:hover{
  background-color: #036564;
  color: #CDB380;
}


.row_header {
  font-weight: 200;
  font-size:9px;
}

.long-url a:link {
  font-weight: 400;
}


table a:hover{
  background-color: #036564;
  color: #CDB380;
}

form {
  margin: 20px;
  text-align: center;
}

.create {
  width: 600px;
  margin-left: 175px;
}

.login {
  width: 600px;
  margin-left: 200px;
}


.submit_btn {
  color: #033649;
  font-size: 10px;
  width: 70px;
  height: 20px;
  border: none;
  margin-left: 10px;
  padding: 0;
}


fieldset {
  border: 0;
}

div.textbox{
  width: 600px;
  margin: 0 auto;
  font-size: 12px;
}

.textbox input {
  width: 30%;
  margin-left: 2%;
}
