<div class="textbox">
  <form action='/create_account' method="post">
  <fieldset class="create_form">
  <input type="text" placeholder="Email:" name="user[email]">
  <input type="password" placeholder="Password:" name="user[password]">
  <input type="submit" value="create account">
  </fieldset>
  </form>


  <form action='/login' method="post">
  <fieldset class="login_form">
  <input type="text" placeholder="Email:" name="user[email]">
  <input type="password" placeholder="Password:" name="user[password]">
  <input type="submit" value="login">
  </fieldset>
  </form>
</div>
