<div id="create_form">
<form class="create" action='/create_account' method="post">
  <input type="text" placeholder="Email:" name="user[email]">
  <input type="password" placeholder="Password:" name="user[password]">
  <input type="submit" value="create account">
</form>
</div>
<div id="login_form">
<form class="login" action='/login' method="post">
  <input type="text" placeholder="Email:" name="user[email]">
  <input type="password" placeholder="Password:" name="user[password]">
  <input type="submit" value="login">
</form>
</div>
